.container {
  display: grid;
  position: relative;
  grid-gap: 1rem;
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.top {
  display: flex;
  justify-content: end;
  position: absolute;
  right: .5rem;
  top: .5rem;
  width: 100%;
}

.data {
  display: grid;
  grid-gap: 1rem;
}

.bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  width: 100%;
}
