body {
  /* vars */

  --primary-color: #212429;
  --shadow-color: #f9f9f9;
  --tertiary-color: #e1e1e1;
  --secondary-color: #ffffff;
  --action-color: #56bfe3;

  --success-color: #2a9d8f;
  --warn-color: #e9c46a;
  --error-color: #e76f51;

  background-color: var(--secondary-color);
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 1rem;

  margin: 0;
  padding: 0;
}
