.container {
  display: flex;
  width: 100%;
}

.select {
  font-size: 1rem;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

.select:disabled {
  background-color: var(--tertiary-color);
}
