.tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--tertiary-color);
}

.tr:nth-child(2n+1) {
  background-color: var(--shadow-color);
}

.td {
  outline: none;
  text-align: center;
  padding: .5rem;
}

.cell {
  background-color: inherit;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1rem;
  min-width: 1rem;
}
