.recalculation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.recalculation__currency {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.currency__title {
  color: $tertiary-color;
}

@media (max-width: 1000px) {
  .recalculation {
    flex-direction: column;
  }
}
