.input, .select {
  padding: 10px;
  border-radius: 5px;
  border-color: $tertiary-color;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  background-color: $secondary-color;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

.select {
  font-size: 15px;
  border-style: none;
}
